* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;

	
}

h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 100%;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 15px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #000;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	
	color: #fff;
}
.subMenu a:hover {
	background: #1ed65f;
}

.active {
	background: #1ed65f;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	color:#3d3d3d;
	height: 600px;
	background-image: url(../img/bgtop.jpg);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}
.sm {
	height: 110px;
	background-color: #1ed65f;
}
.s1 {
	background: #FFF;
	
}


.s2 {
	background: #FFF;
}


.s3 {
	background: #FFF;
}


.s4 {
	background: #FFF;
}



.s5 {
	background: #FFF;
}

.s6 {
	background: #FFF;
	hight: 800px;
}
.s7{
	height: 100px
	
}
