* {margin: 0; padding: 0; outline: 0;}


body {
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;
	font-family: 'Kanit', sans-serif;

	
}

h1, h2 {
    font-weight: normal;
    margin: 0 0 15px 0;
    font-family: 'Kanit', sans-serif;
}


h1 {
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 100%;
	text-shadow: 0px 0px #000000;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	color: #000000;
	font-family: 'Kanit', sans-serif;
}


h2 {
	font-size: x-large;
	color: #333333;
}


p {
	margin: 0 0 15px 0;
	color: #000000;
	padding-top: 3px;
	font-size: 24px;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #000;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	
	color: #fff;
}
.subMenu a:hover {
	background: #1ed65f;
}

.active {
	background: #1ed65f;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	color:#3d3d3d;
	height: 600px;
	background-image: url(../img/bgtop.jpg);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}
.ss{
	height: 200px;
	background: #fbfbfb;
;
}
.sm {
	height: 100px;
	background-color: #fbfbfb;
	font-family: "Proxima Nova Lt";
}
.s1 {
	background: #FFF;
	
}


.s2 {
	background: #fbfbfb;
}


.s8 {
	background: #FFF;
}


.s4 {
	background: #fbfbfb;
}



.s5 {
	background: #FFF;
}

.s6 {
	background: #fbfbfb;
}
.s7{
	height: 100px;
	
}
.s100{
	height: 100px;
	background: #171717;
}
.section.s1 table tr td .block.animatable.bounceIn {
	font-weight: bold;
	font-size: 18px;
}
.section.s1 table tr td .block.animatable.bounceIn h1 {
	font-size: 36px;
}
.section.s1 table tr td .block.animatable.bounceIn h1 {
	font-size: 18px;
}
.section.s2 table tr td .block.animatable.bounceIn .s8 {
	font-size: 18px;
}
